@import './fonts.scss';

$primary-color: #8F96D3;
$secondary-color: #FFFFFF;
$text-color: #7A8FA5;
$secondary-text-color: #000000;

$primary-font: 'Ruda', sans-serif;
$primary-normal: 400;
$primary-bold: 600;